body{
    background-color: black;
}
.game{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 18px;
    padding-top:50px;
}
#user-text{
    color: yellowgreen;
    text-align: center;
    font-size: 19px;
}

.logo{
    clear: both;
}
.first{
    padding-top: 100px;
}
img{
    width:60%;
    height:150px;
    align:center;
    padding-left: 300px;
}