body{
    background-color: black;
    text-align: center;
}
#wordgame{
    background-color: black;
    color:white;
    font-size: 18px;
    padding-top:20px;
}
#user-text{
    color: yellowgreen;
    font-size: 19px;
}

.logo{
    margin-top: 100px;
}

img{
    width:60%;
    height:150px;
}
#btn{
    background-color: blue;
    color: yellow;
    height:50px;
    width:150px;
    font-size: 18px;
}
#btnstart{
    background-color: blue;
    color:yellow;
    height:50px;
    width:150px;
    padding-top: 0px;
}
button{
    border: none;
}

#wintext{
    color:yellow;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    padding: 0px;
    }



