body{
    background-color: black;
}
.game{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 18px;
    padding-top:20px;
}
#user-text{
    color: yellowgreen;
    text-align: center;
    font-size: 19px;
}

.logo{
    clear: both;
}
.first{
    padding-top: 100px;
}
img{
    width:60%;
    height:150px;
    align:center;
    padding-left: 300px;
}
.btn{
    text-align: center;
    background-color: blue;
    color: yellow;
    height:50px;
    width:100px;
}
#btnstart{
    text-align: center;
    background-color: blue;
    color: yellow;
    height:50px;
    width:100px;
    padding-top: 0px;
}
button{
    border: none;
}

#wintext{
    color:yellow;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    text-align: center;
    padding: 0px;
    }



